.product{
    height: 200px;
    width: 250px;
   
    padding: 9px;
    background-color: rgb(52, 52, 117);
}
.category{
    color: rgb(223, 132, 22);
    margin-bottom: 9px;
}
.name{
    color: white;
    font-size: 18px;
    margin-bottom: 9px;
    font-weight: bold;
}
.rating{
   scale: 0.7;
}
.description{
    color: white;
    font-size: 16px;
    margin-bottom: 9px;
}
